SOURCE_ISO_URL=https://releases.ubuntu.com/26.04/ubuntu-26.04-live-server-amd64.iso
SOURCE_ISO_SHA256=https://releases.ubuntu.com/26.04/SHA256SUMS
SSH_PUBLIC_KEY=ssh-ed25519 AAAA... user@example.com
HOSTNAME=my-host
USERNAME=ubuntu
